body {
  /* background-color: rgba(19, 177, 129, 0.945); */
  background-image: linear-gradient(to right, #48c9b0, #e8f8f5);
  /* text-align: center; */
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration_form {
  background-color: white;
  border: 1px solid #9e9e9e94;
  border-radius: 5px;
}
input {
  padding: 9px 105px 9px 10px;
  border-radius: 7px;
  margin: 5px;
  outline: none;
}
input:hover {
  border-color: rgba(134, 226, 198, 0.945);
  box-shadow: 0px 0px 12px rgba(134, 226, 198, 0.945);
}
.okbtn {
  background-color: rgba(134, 226, 198, 0.945);
  margin-top: 5%;
  font-size: 15px;
  padding: 7px 56px;
  color: rgb(29, 87, 34);
  border-radius: 7px;
}
.btn1:hover {
  background-color: white;
  color: rgba(28, 146, 111, 0.945);
  box-shadow: 0px 0px 12px;
  cursor: pointer;
}
.btn2 {
  background-color: rgba(134, 226, 198, 0.945);
  margin: 5px;
  font-size: 15px;
  padding: 7px 56px;
  margin-left: 50px;
  color: rgb(29, 87, 34);
  border-radius: 7px;
}

.btn2:hover {
  background-color: white;
  color: rgba(28, 146, 111, 0.945);
  box-shadow: 0px 0px 12px;
  cursor: pointer;
}
.btns {
  display: flex;
  justify-content: space-between;
  margin: 10px 420px 25px;
}

.success {
  color: green;
  margin-bottom: 2px;
  text-align: center;
}

#success {
  padding: 2px;
}

/* Display Schools CSS*/
table,
th,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}

.Table {
  width: 100%;
}
th {
  color: black;
}
.rows {
  border: 1px solid black;
}
td {
  width: 80px;
  /* width: 100%; */
}
#sno {
  margin-left: 10px;
}
.icon {
  cursor: pointer;
  float: right;
  margin: 10px;
}
.field-group2 {
  display: flex;

  flex-wrap: wrap;
  padding: 0 15px;
}
.fields {
  width: 25%;
  padding-bottom: 10px;
}

/* .field-group{
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
} */

.countDown {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

#logout {
  float: right;
  cursor: pointer;
}

#logout:hover {
  color: rgba(134, 226, 198, 0.945);
}


.information{
  padding: 20px;
}
*{
  font:'Poppins', sans-serif;
  
  padding:0;  
}


/* Header And Footer  */
 nav{
 height:80px;
 background-color: black;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding:0px 28px 0px 50px;
 box-sizing: border-box;
}

nav ul{
  display: flex;
  list-style: none;
  
}


nav ul li a{
  
  color:white;
  text-decoration: none;
  margin:10px;
 
}

nav ul li a:hover:not(.user){
  background-color: white;
  color:black;
  border-radius: 12%;
}

.logo{
 height:84px;
 width: 80px;
}

nav .menu-btn svg{
  visibility:hidden;
}




#checkbox{
  display: none;
}

#checkbox:checked ~ .close{
margin-right:-100%
}

#checkbox:checked ~ ul{
  left:0%;
  transition: all 0.5s ease;
}

footer{
  display: flex;
  margin-top:35%;
  background-color: black;
  padding:2% 10%;
  color:white;
  justify-content: space-between;
}

footer ul li{
margin:0px 100px auto 0px ;
list-style: none;
color:white;
}

footer ul .head{
  font-size: 25px;
  margin-bottom: 10px;
}

footer ul li a{
   text-decoration: none;
   color:white;
}

footer ul li a:hover,
footer .container3 ul  a svg:hover{
  color:cyan;
}
footer .head-container3 ul li{
  margin-right:13%;
 
 width:10px;
 display: inline;
} 

footer .head-container3 ul  a svg{
  margin:6px;
 color:white;
}

@media (max-width: 940px){
  nav .menu-btn svg{
      visibility:visible;
  }
  nav ul{
      position: fixed;
      top:80px;
      left:-100%;
      background-color: black;
      height: 100%;
      width: 100%;
      display: block;
      text-align: center;
  }
  nav ul li {
  margin: 40px 0;
  }

nav ul li a{
   font-size: 20px;
}
nav ul li a:hover:not(.user),
nav ul li a.active{
  background-color:black;
  color:cyan;
  border-radius: 12%;
}

footer{
  display:block;
  text-align: center;
}
footer div{
  margin-top:20px;
}
footer ul li{
  margin-left:30%;
} 
} 

/* Timeout */

 .timeout-container{
 font-family:Arial, Helvetica, sans-serif ;
}
.timeout-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.sub-container1{
  /* margin: 175px 435px; */
  margin:190px 455px;
  padding: 32px;
  background-color: white;
  border: 0.1px solid grey;
  border-radius:12px;
  box-shadow: 0px 0px 12px grey;
}
@media (max-width:900px) {
  .sub-container1{
    margin:140px;
  }
  
}
.timeout-header{
  margin-bottom: 0px;
}
.timeout-message{
  text-align: center;
  margin-top: 30px;
}

.pop-okbtn{
  border-radius: 5px;
  padding:3px 39px ;
  color:black;
  /* margin-left: 124px;
    margin-top: 14px; */ 
}
.mins-count{
text-align: center;
}
.time-btns{
  display: flex;
  justify-content: space-between;
}
.update-btn{
  background-color: white;
  color: rgba(28, 146, 111, 0.945);
  box-shadow: 0px 0px 12px;
  cursor: pointer;
  background-color: rgba(134, 226, 198, 0.945);
  color: rgb(29, 87, 34);
  border-radius: 7px;
  padding:8px 10px;
}
a{
color: black;
}
