.sub-variant{
    width: 20%;
     padding:10px;
     text-align: center;
     margin-top: 60px;
     margin-left:50px;
     background-color: white;
     border-radius: 5%;
}
@media (max-width:800px) {
    .sub-variant{
        width: 35%;
    }
}
@media (max-width:600px) {
    .sub-variant{
        width: 45%;
    }
}
@media (max-width:400px) {
    .sub-variant{
        width: 55%;
    }
}
#email{
    padding:10px;
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: 2%;
}
#password{
    padding:10px;
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: 2%;
    margin-top: 5%;
}
.checked{
     display: flex;
     flex-direction: row;
     margin-top: -5%;
}
#check1{
      margin-top: 8%;
      margin-left: 6%;
}
.btn{
         width: 90%;
         margin-top: -10%;
}
.account{
        margin:0px;
}
.link{
    margin-top: 20px;
    margin-left: 43px;
}
